*{
    margin: 0;
}

body{
    background-color: #090c1b;
    max-width: fit-content;
    max-height: fit-content;
}

h1{
    margin-bottom: 10px;
   
}

h1,p,h4{
    color: white;
}

.image-container{
    background-image: linear-gradient(
        rgba(161, 86, 206, 0.6),
        rgba(161, 86, 206, 0.6)
      ),
      url('images/image-header-desktop.jpg');
    background-size: cover;
    width: 50%;
}

/* .image-container> img{
    width: 100%;
    height: 100%;
} */


.box{
    
    padding: 20px;
    width: fit-content;
    height: fit-content;

}

.card{
    width: 50%;
    display: flex;
    margin: 200px auto;

    
}

p{
    margin-top: 30px;
}

.insights{
    color: #AF8BD0; 
}

.card_bottom{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

.card_bottom > div > p{
    margin-top: 1px;
}

.con-container{
    background-color: #1c1938;
    width: 50%;
    
}

.con-container > p{
    width: 100%;
}

.image-container{
    background-color: #a156ce;
}